<%= render "pages/top" %>
<h2 class="sec-head" id="sc-grp7">
  <span><%= t "main.list.farmer" %></span>
</h2>
<p class="sec-disc"><%= t "main.outline.farmer" %></p>
<div class="area-contents section js-tab-content tab-content" id="cropstab">
  <ul class="row3 media-list crops-list">
    <% @farmers.each do |farmer| %>
      <%= render "users/user",  farmer: farmer %>
    <% end %>
    <%= will_paginate @farmers, renderer: BootstrapPagination::Rails %>
  </ul>
</div>
