<%= render "pages/top" %>
<h2 class="sec-head" id="sc-grp7">
  <span>農家さん一覧</span>
</h2>
<p class="sec-disc">ここでは、農家さんの情報を確認できます。</p>
<div class="area-contents section js-tab-content tab-content" id="cropstab">
  <ul class="row3 media-list crops-list">
    <% @farmers.each do |farmer| %>
      <li class="col">
        <a name="geTrack" class="fapp_contractField_crops" id="3" href="/farm/app/contractField/crops/002001/">
          <div class="itemdata"></div>
          <div class="media-vertical media-thumb">
              <figure class="media-object">
                <div class="image-name"><%= image_name = farmer.avatar %></div>
                <%= link_to image_tag(image_name), user_path(farmer) %>
                <figcaption class="media-caption"><b><%= farmer.name %>さん</b>
                </figcaption>
              </figure>
          </div>
        </a>
      </li>
    <% end %>
    <%= will_paginate @farmers, renderer: BootstrapPagination::Rails %>
  </ul>
</div>
