<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<body class="w3-light-grey">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
</div>

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->

  <!-- Grid -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <div class="w3-row w3-padding w3-border">
    <%= render "posts/form", products: products %>
    <!-- Blog entries -->
    <div class="w3-col l8 s12">

      <div id="new_post" style="margin-top: 20px;" class="w3-container w3-white w3-margin w3-padding-large">
        <div class="image-name"><%= current_user_name = current_user.name %></div>
        <input type="text" id="modal" name="" placeholder="<%= current_user_name + t("post_action.you_mind")%>" class="w3-col s12" >

      </div>

      <% posts.each do |post| %>
        <%= render "pages/mini_home_page",  post: post %>
      <% end %>
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <%= render "pages/about_web" %>

      <!-- Posts -->
      <%= render "pages/popular_posts", popular_posts: popular_posts %>
      <%= render "pages/pack_list_home", products: products, farmers: farmers,
        posts: posts %>

    </div>
  </div>
</div>
<script>
// Toggle between hiding and showing blog replies/comments
// document.getElementById("myBtn").click();
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

function likeFunction(x) {
    x.style.fontWeight = "bold";
    x.innerHTML = "✓ Liked";
}
$(document).ready(function(){
    $("#new_post input").click(function(){
        $("#myModal").show();
    });

    $("button.close").click(function () {
        $("#myModal").hide();
    });
});
</script>

</body>
</html>
