<div class="specialSec specialSec_col4">
  <!-- main 1 -->
  <div class="item">
    <div class="inner">
      <a href="#">
        <div class="item-separate-1">
          <div class="cropsImg">
            <img src="https://agriculture.rakuten.co.jp/farm/assets/crops/img/003/002_1242x702.jpg" alt="野菜炒めや中華料理に「広東ハクサイ(パクチョイ)」">
          </div>
          <div class="item-labels">
            <span class="item-labels-02"><%= t "main.last"%></span>
          </div>
        </div>
        <div class="item-separate-2">
          <div class="datahead">
            <div class="imgWrap">
              <img src="https://image.space.rakuten.co.jp/d/strg/ctrl/32/2129be3430b53c531f54455e01ad1c90949c64ef.11.2.32.2.jpg" alt="トブシン バヤル">
            </div>
            <div class="datahead-text">
              <span class="datahead-text-main">トブシン バヤル
                <span class="honorific"><%= t "main.thumb.san" %></span>
              </span>
              <br>
              <span class="datahead-text-sub">愛媛県 テレファーム</span>
            </div>
          </div>
          <div class="tags">
            <span>8～9<%= t "main.thumb.maybe_month" %></span>
          </div>
          <div class="dataMain">
            <h3 class="dataMain-head">野菜炒めや中華料理に「広東ハクサイ(パクチョイ)」</h3>
          </div>
          <div class="dataSub">1,400<span class="unit"><%= t "main.thumb.yen" %></span><span class="attn"><%= t "main.thumb.tax_fee" %></span>/4袋前後</div>
        </div>
      </a>
      <div class="optionLink">
        <a href="#">通常：2,100円/8袋前後はこちら＞</a>
      </div>
    </div>
  </div>

  <!-- main2 -->
  <div class="item">
    <div class="inner">
      <a href="#">
        <div class="item-separate-1">
          <div class="cropsImg">
            <img src="https://agriculture.rakuten.co.jp/farm/assets/crops/img/022/001_1242x702.jpg" alt="農薬、化学肥料不使用で育てる「ブロッコリー」">
          </div>
          <div class="item-labels">
            <span class="item-labels-02"><%= t "main.last"%></span>
          </div>
        </div>
        <div class="item-separate-2">
          <div class="datahead">
            <div class="imgWrap">
              <img src="https://image.space.rakuten.co.jp/d/strg/ctrl/32/342f539ad1acbf03e930213ad859700ae65014d1.11.2.32.2.jpg" alt="阿部 まゆき">
            </div>
            <div class="datahead-text">
              <span class="datahead-text-main">阿部 まゆき
                <span class="honorific"><%= t "main.thumb.san" %></span>
              </span>
              <br>
              <span class="datahead-text-sub">愛媛県 テレファーム</span>
            </div>
          </div>
          <div class="tags">
            <span>11<%= t "main.thumb.maybe_month" %></span>
          </div>
          <div class="dataMain">
            <h3 class="dataMain-head">農薬、化学肥料不使用で育てる「ブロッコリー」</h3>
          </div>
          <div class="dataSub">1,527<span class="unit"><%= t "main.thumb.yen" %></span><span class="attn"><%= t "main.thumb.yen" %></span>/2本前後</div>
        </div>
      </a>
      <div class="optionLink">
        <a href="#">通常：1,940円/5本前後はこちら＞</a>
      </div>
    </div>
  </div>

  <!-- main3 -->
  <div class="item option-premium">
    <div class="inner">
      <a href="#">
        <div class="item-separate-1">
          <div class="cropsImg">
            <img src="https://agriculture.rakuten.co.jp/farm/assets/crops/img/012/002_1242x702.jpg" alt="皮ごと生でポリポリ甘い「ミニニンジン」">
          </div>
          <div class="item-labels">
            <span class="item-labels-02"><%= t "main.last"%></span>
          </div>
        </div>
        <div class="item-separate-2">
          <div class="datahead">
            <div class="imgWrap">
              <img src="https://image.space.rakuten.co.jp/d/strg/ctrl/32/efdd004aa401d6a45b0bc42cb380d6d1d217c828.11.2.32.2.jpg" alt="長坂 知洋">
            </div>
            <div class="datahead-text">
              <span class="datahead-text-main">長坂 知洋
                <span class="honorific"><%= t "main.thumb.san" %></span>
              </span>
              <br>
              <span class="datahead-text-sub">愛媛県 テレファーム</span>
            </div>
          </div>
          <div class="tags">
            <span>8～9<%= t "main.thumb.maybe_month" %></span>
          </div>
          <div class="dataMain">
            <h3 class="dataMain-head">皮ごと生でポリポリ甘い「ミニニンジン」</h3>
          </div>
          <div class="dataSub">1,500
            <span class="unit"><%= t "main.thumb.yen" %></span>
            <span class="attn"><%= t "main.thumb.yen" %></span>/4袋前後</div>
        </div>
      </a>
      <div class="optionLink">
        <a href="#">通常：2,700円/8袋前後はこちら＞</a>
      </div>
    </div>
  </div>

  <!-- main4 -->
  <div class="item option-premium">
    <div class="inner">
      <a href="#">
        <div class="item-separate-1">
          <div class="cropsImg">
            <img src="https://agriculture.rakuten.co.jp/farm/assets/crops/img/022/002_1242x702.jpg" alt="ブロッコリー界の王子「スティックセニョール」">
          </div>
          <div class="item-labels">
            <span class="item-labels-02"><%= t "main.last"%></span>
          </div>
        </div>
        <div class="item-separate-2">
          <div class="datahead">
            <div class="imgWrap">
              <img src="https://image.space.rakuten.co.jp/d/strg/ctrl/32/18db8856e11241042b802e9132bc4e88fd209ead.11.2.32.2.jpg" alt="徳永 光勇輝">
            </div>
            <div class="datahead-text">
              <span class="datahead-text-main">徳永 光勇輝
                <span class="honorific"><%= t "main.thumb.san" %></span>
              </span>
              <br>
              <span class="datahead-text-sub">愛媛県 テレファーム</span>
            </div>
          </div>
          <div class="tags">
            <span>11<%= t "main.thumb.maybe_month" %></span>
          </div>
          <div class="dataMain">
            <h3 class="dataMain-head">ブロッコリー界の王子「スティックセニョール」</h3>
          </div>
          <div class="dataSub">1,527<span class="unit"><%= t "main.thumb.yen" %></span><span class="attn"><%= t "main.thumb.yen" %></span>/4袋前後</div>
        </div>
      </a>
      <div class="optionLink">
        <a href="#">通常：1,940円/8袋前後はこちら＞</a>
      </div>
    </div>
  </div>
</div>
