<h2 class="sec-head" id="sc-grp7">
  <span><%= t "main.list.all" %></span>
</h2>
<p class="sec-disc"></p>
<%= render "pages/small_pack_list" %>
<hr>
<h2 class="sec-head" id="sc-grp7">
  <span><%= t "main.fav" %></span>
</h2>
<p class="sec-disc"><%= t "main.fav_outline" %></p>
<%= render "pages/small_pack_favorite" %>
<hr>
<h2 class="sec-head" id="sc-grp7">
  <span><%= t "main.last" %></span>
</h2>
<p class="sec-disc"><%= t "main.last_outline" %></p>
<%= render "pages/small_pack_new" %>
<div class="top-c-singleBtn">
  <%= link_to new_user_registration_path, class: "button button-main" do %>
    <%= t "sign-up-now" %>
  <% end %>
</div>
