<div class="top-c-cropsMenu">
  <ul class="cropsMenuList">
    <li>
      <a href="#">
        <div class="imgWrap">
          <%= link_to image_tag("crops_icon"), products_path(@products) %>
        </div>
        <div class="txtWrap list-name">
          <b><%= t "main.list.product" %><%= t "main.to_watch" %></b>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgWrap">
          <%= link_to image_tag("farmers_icon"), users_path(@users) %>
        </div>
        <div class="txtWrap list-name">
          <b><%= t "main.list.farmer" %><%= t "main.to_watch" %></b>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgWrap">
          <%= link_to image_tag("post_icon"), posts_path(@posts) %>
        </div>
        <div class="txtWrap list-name">
          <b><%= t "main.list.post" %><%= t "main.to_watch" %></b>
        </div>
      </a>
    </li>
  </ul>
</div>
