<h2 class="sec-head" id="sc-grp7">
  <span>リスト</span>
</h2>
<p class="sec-disc">お求めやすい少量パック。1人暮らしの方にも最適。</p>
<%= render "pages/small_pack_list" %>
<hr>
<h2 class="sec-head" id="sc-grp7">
  <span>人気</span>
</h2>
<p class="sec-disc">お求めやすい少量パック。1人暮らしの方にも最適。</p>
<%= render "pages/small_pack_favorite" %>
<hr>
<h2 class="sec-head" id="sc-grp7">
  <span>最新</span>
</h2>
<p class="sec-disc">お求めやすい少量パック。1人暮らしの方にも最適。</p>
<%= render "pages/small_pack_new" %>
<div class="top-c-singleBtn">
  <%= link_to new_user_registration_path, class: "button button-main" do %>
    <%= t "sign-up-now" %>
  <% end %>
</div>
