<%= render "pages/top" %>
<h2 class="sec-head" id="sc-grp7">
  <span><%= t "main.list.product" %></span>
</h2>
<p class="sec-disc"><%= t "main.outline.product" %></p>
<div class="area-contents section js-tab-content tab-content" id="cropstab">
  <ul class="row3 media-list crops-list">
    <% @products.each do |product| %>
      <%= render "products/product",  product: product %>
    <% end %>
    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
  </ul>
</div>
