<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag asset_path("icon.png"), :rel => "icon", :type =>  "image/png" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div style="margin-top: 50px"><%= yield %></div>
    <%= render "layouts/footer" %>
  </body>
</html>
